{% extends 'base.html' %}

{% block title %}Password Reset Complete - Hobby Hubby{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>Password Reset Complete</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-success">
                    <h5>Success!</h5>
                    <p>
                        Your password has been set. You may go ahead and log in now.
                    </p>
                </div>
                
                <div class="mt-4">
                    <a href="{% url 'accounts:login' %}" class="btn btn-primary">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}